.gradient_bg {
  background: var(--color-bg);
  background: radial-gradient(
    circle at 3% 25%,
    var(--light-gradient) 0%,
    var(--color-bg) 100%
  );
}

.gradient_text {
  background: var(--color-text);
  background-clip: text;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  padding: 4rem 6rem;
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    padding: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }

  .section__margin {
    padding: 4rem 2rem;
  }
}
