@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: #{$font-family};

  --gradient-text: #{$gradient-text};
  --gradient-bar: #{$gradient-bar};

  --color-bg: #{$color-bg};
  --color-footer: #{$color-footer};
  --color-blog: #{$color-blog};
  --color-text: #{$color-text};
  --color-subtext: #{$color-subtext};
  --light-gradient: #{$light-gradient};
}
